.download-actions {
  display: none;
  padding-left: 10px;
}

.download-actions button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
}

.download-actions button i {
  font-size: 15px;
}

.download-actions button:hover {
  color: #00e1ffe0;
}

.download-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.download-details {
  flex-grow: 1;
}

.download-filename {
  padding: 5px 0px;
  font-weight: bold;
  font-size: 14px;
}

.download-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.download-item img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.download-item:hover {
  background-color: rgba(0, 113, 227, 0.2);
}

.download-item:hover .download-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.download-limit-wh {
  max-width: 270px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.download-size {
  color: #666;
  font-size: 0.9em;
}

.download-time {
  color: #666;
  font-size: 0.9em;
  text-align: right;
}

.download-url {
  color: gray;
}

#downloads {
  /* margin-top: 10px; */
  /* 确保下载记录不会被按钮覆盖 */
  width: 400px;
}

.downloads-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 113, 227, 0.4);
  padding: 0px 20px;
}

.downloads-items {
  display: flex;
  justify-content: space-around;
}

.downloads-items button:hover {
  color: #00e1ffe0;
}

#settings_button{
  transition: transform 0.4s ease-in-out;
}
#settings_button:hover{
  transform: rotate(90deg);
}

.downloads-items-button {
  border: none;
  border-radius: 10px 10px;
  background-color: transparent;
  padding: 5px 5px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  position: relative;
  margin: 0;
  min-width: 300px;
  font-family: Arial, sans-serif;
}

#title {
  font-size: 24px;
}
